@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
body {
    background-color: #111218;
    font-family: "Fira Code", monospace;
    font-size: larger;
    color: #ffffffe6;
    margin: 40px;
}

header {
    display: flex;
    flex-wrap: wrap;
    grid-auto-flow: column;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 5px;
}

footer {
    position: fixed;
    bottom: 0px;
    font-size: small;
    margin: 15px 0;
}

h1 {
    margin: 0;
    font-size: x-large;
    word-wrap: break-word;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

.tools {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

.buttons {
    display: grid;
}

.buttons>a::before {
    color: white;
    content: "> ";
}

a {
    margin: 0;
    color: #7289da;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.25s;
}

a:hover, a:focus {
    color: #bec7e9;
}

b>a {
    color: #585e75;
}

b {
    font-weight: normal;
    font-style: normal;
    color: #2e3242;
    margin: 0;
}

i {
    font-size: 5px;
    opacity: 0;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bk2);
    padding: 20px;
    box-shadow: 0 0 5px var(--shadow);
    border-radius: 6px;
}

.popupBackground {
    position: fixed;
    size: 100vh 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111218e6;
}

#languageList {
    display: grid;
}

#languageList>*::before {
    color: white;
    content: "> ";
}

input {
    background: none;
    font-family: "Fira Code", monospace;
    font-size: large;
    border: none;
    border-radius: 0;
    color: #585e75;
    border-bottom: 1px solid #585e75;
    padding: 0;
    width: 100%;
    transition: border 0.25s, color 0.25s;
}

input:hover, input:focus {
    outline: none;
    color: #7289da;
    border-bottom: 1px solid #7289da;
}

.hidden {
    display: none;
}